/* primary color 2c4d2f, 204329 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro';
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 20px;

  background-color: white;
  z-index: 25;
  box-shadow: 0 30px 35px rgba(124, 122, 122, 0.1);
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

.header__content ul {
  display: flex;
  font-size: 19px;
  text-transform: uppercase;
}
.header__content li {
  margin-left: 60px;
  text-align: center;
  list-style: none;
}

.header__logo-img {
  display: flex;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 50px;
}

.header__logo-name {
  margin-left: 15px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(17, 16, 16, 0.774);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-link:link {
  text-decoration: none;
  color: rgba(17, 16, 16, 0.774);
}
.navbar-link:visited {
  color: rgba(17, 16, 16, 0.774);
}

.about__me {
  text-align: center;

  background: linear-gradient(to left, #204329, #2c4d2f);
  overflow: auto;
  min-height: 100vh;
}
/* 204329 */
.about__me-header {
  margin-top: 33rem;
  font-size: 6.1rem;
  color: white;
  text-transform: uppercase;
}

.about__me-text {
  font-size: 2.3rem;
  padding-top: 35px;
  color: white;
  font-weight: 400;
  line-height: 30px;
}

.btn {
  margin-top: 50px;
  font-size: 19px;
  text-transform: uppercase;
  padding: 17px 80px 17px 80px;
  background-color: white;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
  color: rgba(17, 16, 16, 0.774);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(228, 227, 226);
}

.btn:active {
  transform: translateY(4px);
}

.mouse {
  width: 25px;
  height: 45px;
  border: solid 2px white;
  position: relative;
  margin: auto;
  border-radius: 60px;
  top: 250px;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: white;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  opacity: 1;
  animation: mouse 1.2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 7px;
  }

  to {
    top: 30px;
    opacity: 0;
  }
}

@media only screen and (max-width: 1175px) {
  .about__me-header {
    font-size: 5rem;
  }
  .about__me-text {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 800px) {
  .header__logo-img {
    display: none;
  }

  .header__logo-name {
    display: none;
  }

  .header__content ul {
    width: 100%;

    justify-content: space-around;
  }
}
@media only screen and (max-width: 580px) {
  .about__me-header {
    font-size: 4rem;
    padding-bottom: 20px;
    margin-top: 15rem;
  }

  .about__me-text {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 5px;
    margin-top: 5rem;
  }

  .btn {
    font-size: 14px;
    padding: 13px 45px 13px 45px;
  }
  .header__content ul {
    font-size: 18px;
  }

  #navbar {
    width: 100%;
    margin: 0;
  }
}
.container {
  min-height: 800px;
}
.about__me-section {
  overflow: hidden;
}

.intro {
  text-align: center;
  margin-top: 13rem;
}

h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.line1 {
  width: 3rem;
  height: 5px;
  background-color: #204329;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
}

/* .about::after {
  content: '';
  position: absolute;
  background-color: #204329;
  height: 5px;
  width: 3rem;
  border-radius: 5px;
  top: calc(115% + 6.1rem);
  left: 50%;
  transform: translateX(-50%);
} */

.about__me-paragraph {
  font-size: 2rem;
  margin-top: 10px;
  padding: 15px;
  color: rgb(104, 102, 102);
}

.section__to-know {
  max-width: 1350px;
  min-height: 450px;
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
}

.Get__toknow-me {
  font-size: 3rem;
  font-weight: 700;
  padding: 15px;
}
.get__toknowme-paragraph {
  font-size: 1.9rem;
  padding: 15px;
  padding-right: 100px;
  color: rgb(104, 102, 102);
  line-height: 30px;
  padding-bottom: 0;
}

.Get__toknowmy-skills {
  font-size: 3rem;
  font-weight: 700;
  padding: 15px;
  display: flex;
}
.my__skills {
  display: grid;
  height: 20px;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-template-rows: max-content;
  font-size: 1.9rem;
  padding: 15px;
  color: rgb(114, 111, 111);
  line-height: 30px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  font-weight: 600;
  text-align: center;
}
.skill {
  padding: 10px;
  margin: 7px;
  background-color: #e7e7e3;
  border-radius: 5px;
}
.btn-green {
  background-color: #204329;
  color: white;
  padding: 15px 40px 15px 40px;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 10px;
}
.btn-green:hover {
  background-color: #073d0b;
}

@media only screen and (max-width: 1175px) {
  .section__to-know {
    font-size: 2rem;
    display: block;
    margin-bottom: 100px;
    margin: auto;
    margin-left: 50px;
  }

  .section__to-know {
    margin: auto;
    padding: 5px;
  }

  .Get__toknow-me {
    margin: auto;
  }

  .get__toknowme-paragraph {
    padding-right: 35px;
  }

  .Get__toknowmy-skills {
    margin-top: 105px;
  }
  .right {
    min-height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .section__to-know {
    margin: 50px;
  }
}

.section__projects {
  text-align: center;
  min-height: 2250px;
}

.projects__headings {
  font-size: 4.2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 100px;
}

.line2 {
  width: 3rem;
  height: 5px;
  background-color: #204329;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
}
/* .projects__headings::after {
  content: '';
  position: absolute;
  background-color: #204329;
  height: 5px;
  width: 3rem;
  border-radius: 5px;
  top: calc(219% + 3.5rem);
  left: 50%;
  transform: translateX(-50%);
} */

.projects__paragraph {
  font-size: 2rem;
  color: rgb(104, 102, 102);
  margin-top: 2.6rem;
  line-height: 30px;
}

.projects__show-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: 1fr 1fr; */
  max-width: 1600px;
  justify-content: center;
  margin: auto;
  margin-top: 10rem;
}

.laptop__img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 100px;
}

.project123__heading {
  font-size: 3rem;
}

.project123__paragraph {
  font-size: 1.8rem;
}

.left__side-grid {
  max-width: 400px;
}

.right__side-grid {
  max-width: 800px;
  margin-top: 155px;
}

.right__side-grid h6 {
  margin-bottom: 25px;
}

@media only screen and (max-width: 1175px) {
  .projects__show-container {
    display: block;
  }
  .right__side-grid {
    margin: auto;
    padding: 45px;
  }
  .projects__headings {
    margin-top: -8rem;
  }
}

@media only screen and (max-width: 450px) {
  .laptop__img {
    margin-top: 20px;
  }

  .projects__headings {
    margin-top: -1rem;
  }
}

.contact-section {
  max-width: 100vw;
  min-height: 1200px;
  background-color: #204329;
  overflow: hidden;
  letter-spacing: 1px;
}
.contact-section h6 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: white;
  margin-top: 35px;
  text-align: center;
  padding-top: 80px;
}

.line3 {
  width: 3rem;
  height: 5px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
}

/* .contact-section::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 5px;
  width: 3rem;
  border-radius: 5px;
  top: calc(472%);
  left: 50%;
  transform: translateX(-50%);
} */

.contact-section p {
  font-size: 18px;
  margin-top: 30px;
  color: white;
  margin-bottom: 70px;
  line-height: 30px;
  text-align: center;
}
.contact-div {
  margin: auto;
  max-width: 800px;
  min-height: 730px;
  background-color: white;
  border-radius: 6px;
}

.contact-form {
  padding: 40px;
}

.input-name {
  width: 100%;
  max-width: 680px;
  margin: 15px 5px 50px 5px;
  font-size: 16px;
  padding: 18px;
  border-radius: 5px;
  background-color: rgba(240, 235, 235, 0.972);
  outline: none;
  border: none;
}

::placeholder {
  color: rgb(172, 175, 166);
}

.label-name {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  color: rgb(66, 64, 64);
}

.input-email {
  width: 100%;
  max-width: 680px;
  margin: 15px 5px 50px 5px;
  font-size: 16px;
  padding: 18px;
  border-radius: 5px;
  background-color: rgba(240, 235, 235, 0.972);
  outline: none;
  border: none;
}

.label-email {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  color: rgb(66, 64, 64);
}

.input-textarea {
  width: 100%;
  max-width: 680px;
  margin: 15px 5px 50px 5px;
  font-size: 16px;
  padding: 18px;
  border-radius: 5px;
  background-color: rgba(240, 235, 235, 0.972);
  outline: none;
  border: none;
}
textarea {
  resize: none;
  font-size: 16px;
}

.label-msg {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  color: rgb(66, 64, 64);
}

.btn-submit {
  float: right;
  padding: 20px 70px 20px 70px;
  margin-left: 10px;
  text-transform: uppercase;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-submit:active {
  transform: translateY(4px);
}

@media only screen and (width: 550px) {
  .btn-submit {
    padding: 20px 70px 20px 70px;
    margin: auto;
  }
}

footer {
  width: 100vw;
  min-height: 350px;
  background-color: black;
  color: white;
  overflow: hidden;
}

footer h6 {
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer p {
  font-size: 16px;
  margin-top: 25px;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  padding: 25px;
  margin-top: 50px;
}

.fa-github {
  font-size: 30px;
  margin-right: 20px;
  transition-duration: 0.3s;
}
.fa-github:hover {
  transform: translateY(-4px);
  transform: scale(1.3);
  color: #d3d3d094;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

.fa-twitter {
  font-size: 30px;
  margin-right: 20px;
  transition-duration: 0.3s;
}

.fa-twitter:hover {
  color: #1da1f2;
  transform: translateY(-4px);
  transform: scale(1.3);
}

.fa-instagram {
  font-size: 30px;
  margin-right: 20px;
  transition-duration: 0.3s;
}
.fa-instagram:hover {
  color: #fd5949;
  transform: translateY(-4px);
  transform: scale(1.3);
}

.fa-linkedin-in {
  font-size: 30px;
  margin-right: 20px;
  transition-duration: 0.3s;
}
.fa-linkedin-in:hover {
  color: #2867b2;
  transform: translateY(-4px);
  transform: scale(1.3);
}

.fa-facebook {
  font-size: 30px;
  margin-right: 20px;
  transition-duration: 0.3s;
}

.fa-facebook:hover {
  color: #3b5998;
  transform: translateY(-4px);
  transform: scale(1.3);
}
.icons {
  margin-top: 25px;
  margin-bottom: 80px;
}

.copyright {
  text-align: center;
  max-width: 1150px;
  margin: auto;
  border-top: 1px solid rgb(158, 154, 154, 0.5);
}
.copyright p {
  font-size: 15px;
  font-weight: 200;
}

@media only screen and (max-width: 800px) {
  .footer-container {
    display: block;
    text-align: center;
    margin: auto;
  }

  .copyright p {
    margin-bottom: 30px;
  }

  .grid__right-footer {
    margin-top: 50px;
  }
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
